body.dark{
    .Blue{
        background-color: #171043 !important;
    }
    .Yellow{
        background-color: #1A210B !important;
    }
    .ButtonRow > button {
        background-color: #252128 !important;
        color: #ffffff !important;
        border-color: #ffffff !important;
    }
    .ChangeLang{
        color: #BAB2E7 !important;
    }
    .BlueChangeLang{
        color: #777777 !important;
    }
    .SwitchSpan{
        color: #D9D9D9 !important;
    }
}