html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0px;
  padding-top: 0px;
}

.Mavi {
  float: left;
  background-color: #4731D3;
  width: 70%;
  height: 100vh;
}

.Sari {
  float: left;
  background: #CBF281;
  width: 30%;
  height: 100vh;
  display: inline;
  align-items: center;
}

.Profile1 {
  position: absolute;
  top: 25%;
  left: 59.5%;
  border-radius: 18px;
}

.Turkce p {
  padding-left: 80%;
  font-family: "Inter", sans-serif;
  color: #CBF281;
}

.HeroContent {
  display: inline;
  width: 528.88px;
  height: 375.89px;
}

.Brand {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  size: 32px;
  line-height: 72px;
  color: #CBF281;
  margin-left: 5%;
}

.GitBtn {
  display: flex;
  float: left;
  gap: 10px;
  width: 59px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  size: 18px;
  line-height: 28px;
  color: #3730A3;
  border: 1px;
  margin-right: 1rem;
  margin-left: 10%;
}

.LinkBtn {
  display: flex;
  float: left;
  gap: 10px;
  width: 59px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  size: 18px;
  line-height: 28px;
  color: #3730A3;
  border: 1px;
}


#Textp1 {
  font-family: "Inter", sans-serif;
  line-height: 59.4px;
  font-size: 54px;
  color: #CBF281;
  font-weight: 700;
  width: 528px;
  height: 118px;
}

#Textp2 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 400;
  color: #FFFFFF;
  width: 528px;
  height: 118px;
}

.BtnMod {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #4731D3;
  font-weight: 700;
}

.SkillBoxes1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40%;
}

.SkillBoxes2 {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10rem;

}

.Skillsa {
  padding-bottom: 1rem;
  padding-top: 5rem;
  font-family: "Inter", sans-serif;
  line-height: 36px;
  font-weight: 500;
  color: #777777;
  size: 24px;
  display: inherit;
  align-items: center;
  padding-right: 6rem;

}

.Skillsa img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}

.Skillsa h1 {
  display: inline;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.SkillBoxes {
  color: #4832D3;

}


html {
  font-family: "Inter", sans-serif;
}

.Blue,
.Yellow {
  height: 100%;
  position: relative;
  padding: 35px;
}

.Blue {
  background-color: #4731D3;
}

.Yellow {
  background-color: #CBF281;
}

.BlueContent1 {
  font-size: 54px;
  color: #CBF281;
  font-weight: 700;
  line-height: 1em;
}

.BlueContent2 {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 400;
  color: #FFFFFF;
}



.BlueContentHeader {
  font-size: 35px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #CBF281;
  margin-left: calc(-.5* var(--bs-gutter-x));
}

.BlueContent {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}



.ChangeLang {
  color: #CAF181;
  background:inherit;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: #D9D9D9;
}

.ImageDiv {
  width: 350px;
  height: 375.89px;
  border-radius: 18px;
  background-image: url(https://s3-alpha-sig.figma.com/img/76b0/6993/b04fd1fa29a883e2f4b8b8577a5c82eb?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YJF4zCcGui-vJ9-EBhczEAWlUcXN6~7ElT~vpdmIuOUt8l~XqJPrL4BEiezJbq4QO9IA1Ie96PPWTGD-fdHrs2Ky~ADVjbiWkCCIjO17kbazgosan16~R~3SGlmfTMSRIy67anwAF6EcjHF7fC8dzb2-T3pEja87OmEXtS9cCnFAQPnr3m9rFLcuBB3ZpCD3NiMHUkZ4yrBY~RnYBLBQwo9faKyufBDETrkAWorr3dc1hCPpPmn27ktvxtCKW3Rd3R0yVXz0E0zBZcDb~AGU2kQH4evluWzhnd3NKhedAbSvqOD9mX4pqSQ35hGZEMF2aBR~BhljRVQyyWKttzr5Fg__);
  background-position: center;
  background-size: cover;
  position: absolute;
  left: -30%;
  top: 25%;
}

.CustomGitBtn,
.CustomLinkBtn {
  padding: 12px 20px 12px 12px;
  border: 1px solid #3730A3;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  height: 52px;
  color: #3730A3;
  border-radius: 6px;
  gap: 5px;
  display: flex;
  align-items: center;
}

.CustomGitBtn img,
.CustomLinkBtn img {
  height: 26px;
}

.ButtonRow{
  display: flex;
  flex-direction: row;
  margin-left: calc(-.5* var(--bs-gutter-x));
  gap: 20px
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 27px;
}

.SwitchSpan{
  color: #4731D3;
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8F88FF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8F88FF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ProfileContainer{
  background-color: #4731D3;
  height: 552px;
}

.ProfileSpan{
  color:#CBF281;
  font-weight: 700;
  font-size: 48px;
}
.ImageDiv2{
  background-image: url(./assets/Profile2.png);
  width: 300px;
  height: 290px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.ProfileHeader{
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
}

.ProfileContent{
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

/* 
-------PROFİLE------- */

.ProfileContent {
  background-color: #4731D3;
}

.Basicİnfo {
  display: inline-flex;
  align-items: baseline;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 30px;

}

.Profileİnfo {
  margin-right: 1rem;
  color: #CBF281;
}

.ProfileInfo2 {
  color: #FFFFFF;
}

/* ------PROJECTS----- */


.ProjectImg {
  width: 360px;
  height: 360px;
  gap: 0px;
  border-radius: 12px 0px 0px 12px;
  border: 0px 1px 0px 0px;
  opacity: 0px;
  object-fit: cover;

}

.Projects1 {
  display: flex;
  background-color: #FFFFFF;
  width: 960px;
  height: Hug (360px)px;
  top: 1992px;
  left: 240px;
  gap: 16px;
  border-radius: 12px;
  opacity: 0px;
  margin-bottom: 2.5 rem;
}

.ProjectsMain {
  background-color: #CBF281;
  width: 100%;
  height: 999px;
  top: 1833px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}

.ProjectsBtn {
  background-color: #4731D3;
  color: #FFFFFF;
  border-radius: 23px;
  padding: 8px, 18px, 9px, 18px;
  gap: 10px;
  width: 68px;
  height: 31px;
  border-color: transparent;
  margin: 0.3rem;
}

.Details {
  display: flex;
  justify-content: flex-start;
}

.Details p {
  margin-right: 3rem;
  text-decoration: underline;
  color: #120B39;
}

.ProjectsText {
  display: inline-grid;
  justify-items: start;
  align-content: center;
}

.Footer1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  size: 48px;
  color: #4731D3;
  display: grid;
  justify-items: center;
  align-content: center;
}
#FooterP {
  text-align: center;
  display: inline;
}

.SkillBoxes1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40%;
}

.SkillBoxes2 {
  font-weight: 500;
  color: #777777;
  size: 24px;
  display: inherit;
  align-items: center;
  padding-right: 6rem;

}

.Skillsa img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  object-fit: cover;
}

.Skillsa h1 {
  display: inline;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.Skill1 {
  display: inline-flex;
  height: 100%;
  padding-bottom: 6rem;

}